<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mapper.base.user.UserMapper">
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->
    <resultMap id="BaseResultMap" type="com.ssm.dto.base.user.User">
        <result column="tid" jdbcType="INTEGER" property="tid"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="error_count" jdbcType="INTEGER" property="errorCount"/>
        <result column="create_user" jdbcType="INTEGER" property="createUser"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        tid, username, real_name, password, sex, error_count, create_user, remark, status, create_time,
        update_time
    </sql>
    <select id="list" resultType="com.ssm.dto.base.user.User">
        select *
        from user
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where tid = #{tid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from user
        where tid = #{tid,jdbcType=INTEGER}
    </delete>
    <select id="getUserByName" resultType="com.ssm.dto.base.user.User">
        select
        <include refid="Base_Column_List"/>
        from user where username = #{userName}
    </select>
    <insert id="insert" parameterType="com.ssm.dto.base.user.User">
        insert into user (tid, username,
                          real_name,
                          password,
                          error_count,
                          create_user,
                          remark,
                          status,
                          create_time,
                          update_time)
        values (#{tid,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR},
                #{realName,jdbcType=VARCHAR},
                #{password,jdbcType=VARCHAR},
                #{errorCount,jdbcType=SMALLINT},
                #{createUser,jdbcType=VARCHAR},
                #{remark,jdbcType=VARCHAR},
                #{status,jdbcType=VARCHAR},
                #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.ssm.dto.base.user.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tid != null">
                tid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="errorCount != null">
                error_count,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tid != null">
                #{tid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="errorCount != null">
                #{errorCount,jdbcType=SMALLINT},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssm.dto.base.user.User">
        update user
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="errorCount != null">
                error_count = #{errorCount,jdbcType=SMALLINT},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where tid = #{tid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssm.dto.base.user.User">
        update user
        set username    = #{name,jdbcType=VARCHAR},
            real_name   = #{realName,jdbcType=VARCHAR},
            password    = #{password,jdbcType=VARCHAR},
            error_count = #{errorCount,jdbcType=SMALLINT},
            create_user = #{createUser,jdbcType=VARCHAR},
            remark      = #{remark,jdbcType=VARCHAR},
            status      = #{status,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP}
        where tid = #{tid,jdbcType=INTEGER}
    </update>

</mapper>