<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../plugin/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../plugin/easyui/themes/icon.css">
    <script type="text/javascript" src="../../plugin/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugin/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../js/util/jquery.serializeJSON.min.js"></script>
    <script type="text/javascript" src="../../js/util/common.js"></script>
    <script type="application/javascript" src="log.js"></script>
    <script type="application/javascript" src="../../plugin/easyui/extension/datagrid-filter.js"></script>
    <title>log</title>
</head>
<body class="easyui-layout">
<div data-options="region:'north',border:false" style="height: 70px">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',fit:true">
            <form id="search_form">
                <table style="margin: 0 auto">
                    <tr>
                        <td><label for="ip">开始时间：</label><input id="startDate" name="startDate" class="easyui-datebox"/>
                        </td>
                        <td><label for="ip">结束时间：</label><input id="endDate" name="endDate" class="easyui-datebox"/>
                        </td>
                        <td><label for="ip">日志类型：</label><input id="logType" name="logType" class="easyui-combobox"/>
                        </td>
                        <td><label for="ip">模块：</label><input id="moduleName" name="moduleName" class="easyui-textbox"/>
                        </td>
                        <td><label for="ip">ip：</label><input id="ip" name="ip" class="easyui-textbox"/></td>
                        <td><label for="operUser">操作用户：</label><input id="operUser" name="operUser"
                                                                      class="easyui-textbox"/>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div data-options="region:'south'">
            <div style="float: right;margin-right: 40px" data-options="border:false">
                <table>
                    <tr>
                        <td><a href="javascript:void(0)" id="searchBtn" name="searchBtn"
                               data-options="plain:true,iconCls:'icon-search'"
                               class="easyui-linkbutton" onclick="searchLog()">查询</a>
                        </td>
                        <td><a href="javascript:void(0)" id="resetBtn"
                               data-options="plain:true,iconCls:'icon-undo'"
                               class="easyui-linkbutton" onclick="resetCondition()">重置</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div data-options="region:'center',border:false">
    <table id="dg" class="easyui-datagrid"></table>
</div>
</body>
</html>
