<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../../plugin/easyui/themes/black/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../plugin/easyui/themes/icon.css">
    <script type="text/javascript" src="../../plugin/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../plugin/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../plugin/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="../../js/util/jquery.serializeJSON.min.js"></script>
    <script type="text/javascript" src="../../js/util/common.js"></script>
    <script type="application/javascript" src="menu.js"></script>
    <script type="application/javascript" src="../../plugin/easyui/extension/datagrid-filter.js"></script>
    <title>log</title>
</head>
<body class="easyui-layout">
<div data-options="region:'north',border:false" style="height: 35px">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',fit:true">
            <form id="search_form">
                <table style="margin: 0 auto">
                    <tr>
                        <!--<td>-->
                        <!--<label for="ip">日志类型：</label><input id="menuState" name="menuState" class="easyui-combobox"/>-->
                        <!--</td>-->
                        <td><label for="ip">模块：</label><input id="moduleName" name="moduleName" class="easyui-textbox"/>
                        </td>
                        <td><label for="ip">ip：</label><input id="ip" name="ip" class="easyui-textbox"/></td>
                        <td><label for="operUser">操作用户：</label><input id="operUser" name="operUser"
                                                                      class="easyui-textbox"/>
                        </td>
                        <td><a href="javascript:void(0)" id="searchBtn" name="searchBtn"
                               data-options="plain:true,iconCls:'icon-search'"
                               class="easyui-linkbutton" onclick="searchLog()">查询</a>
                        </td>
                        <td><a href="javascript:void(0)" id="resetBtn"
                               data-options="plain:true,iconCls:'icon-undo'"
                               class="easyui-linkbutton" onclick="resetCondition()">重置</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <!--<div data-options="region:'south'">-->
        <!--<div style="float: right;margin-right: 40px" data-options="border:false">-->
        <!--<table>-->
        <!--<tr>-->
        <!--</tr>-->
        <!--</table>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>
<div data-options="region:'center',border:false">
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'"
           onclick="addMenu()">新增</a>
        <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Edit User</a>-->
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'"
           onclick="deleteMenu()">删除</a>
    </div>
    <table id="dg" class="easyui-datagrid"></table>
</div>
<!--新增对话框-->
<div id="addMenuDialog" class="easyui-dialog" data-options="closed:true" style="width:400px;height:200px;padding:10px">
    <form id="addMenuForm" method="post">
        <table align="center" style="text-align: right;">
            <tr>
                <td>菜单名称</td>
                <td><input id="add_menuName" name="menuName" class="easyui-textbox" required></td>
            </tr>
            <tr>
                <td>父菜单名称</td>
                <td><input id="add_parentMenuId" name="parentId" class="easyui-combobox"></td>
            </tr>
            <tr>
                <td>图标</td>
                <td><input id="add_iconcls" name="iconcls" class="easyui-textbox"></td>
            </tr>
            <tr>
                <td>url</td>
                <td><input id="add_url" name="url" class="easyui-textbox"></td>
            </tr>
            <tr>
                <td>state</td>
                <td><input id="add_state" name="state" class="easyui-combobox"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
